*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

 }
 .navbar{
    height: 70px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 60px;
    width: 130px;
    margin-top: 10px;
}
.logo{
    background-image: url("/amzlogo2.png");
    background-size: cover;
    height: 50px;
    width: 130px;

}
.border{
    border: 1.5px solid transparent;
}
.border :hover{
    border: 1.5px solid white;
}

/* box 2 */
.navaddress{
    width: 75px;
}
.address1{ 
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}
.address2{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 5px;
}
.add-icon{
    display: flex;
}

/* box3 */
.nav-search{
    display: flex;
    height: 40px;
    width: 630px;
    border-radius: 6px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    border-top-left-radius: 6px ;
    border-bottom-left-radius: 6px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.18rem;
    background-color: #febd68;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #0f1111;
}

/* box 4 */
.lang-box{
    height: 65px;
    width: 55px;
}
.language{
    height: 20px;
    width: 60px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.us-flag{
    background-image: url("united-states.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 24px;
    width: 45px;
}
.en{
    color: #f3f3f3;
    font-weight: 600;
}

/* box 5 */
.account-box{
    height: 60px;
    width: 160px;
    margin-top: 15px;
}
.account-inner{
    display: flex;
    align-items: center;
}
.accounts{
    font-size: 18px;
    font-weight: 700;

}

/* box 6 */
.return-box{
    height: 60px;
    width: 80px;
    margin-top: 15px;
}
.returns{
    font-size: 16px;
    color: #ffffff;
}
.orders
{
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
}

/* box 7 */
/* .cart-box{
    width: 60px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

}
.zero{
    color: #f08804;
    font-size: 20px;
    font-weight: 500;
}
.cart-logo{
    width: 100%;

}
.cart{
    font-size: 18px;
    font-weight: 400;
} */

.nav-cart i{
    font-size: 35px;
    margin-bottom: 20px;
}
.nav-cart{
    font-size: 1.1rem;
    font-weight: 700;
}
.zero{
    background-color: #0f1111;
    color: orange;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

/* panel */

.panel{
    height: 45px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 90%;
    font-size: 1rem;
    font-weight: 500;
}

.panel-all{
    margin-right: 30px;
}

/* hero-section */

.hero-section{
    background-image: url("/kitchenpic.jpg");
    background-size: cover;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 95%;
    margin-bottom: 25px;
}

.hero-msg a{
    text-decoration: none;
    color: #007185  ;
}

/* shop-section */

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #d681ff ;
    height: 500px;
}
.gaming-box{
    background-color: #ffffff;
    width: 32%;
   
}
.home-box{
    background-color: #ffffff;
    width: 31%;

}
.kitchen-box{
    background-color: #ffffff;
    width: 31%;
}
.gb-h{
    margin-top: 15px;
    margin-left: 30px;

}
.gaming-img{
    height: 90%;
    background-image: url(/gaming.jpg);
    margin-top: 25px;
    background-size: cover;
    margin-left: 30px;
    margin-right: 30px;
}
.hb-h{
    margin-top: 15px;
    margin-left: 30px;

}
.cleaningtoolsimg{
     height: 90%;
    background-image: url(/cleaning.jpg);
    margin-top: 25px;
    background-size: cover;
    margin-left: 30px;
    margin-right: 30px;
}
.kb-h{
    margin-top: 15px;
    margin-left: 30px;

}
.kitchenboximg{
     height: 90%;
    background-image: url(/kettles.jpg);
    margin-top: 25px;
    background-size: cover;
    margin-left: 30px;
    margin-right: 30px;
}
